<suite name="Test - Suite">
<test name="Tools QA">
<classes >
 <class name="ca.caProject.launchAppCA"></class> 
 <!--<class name="ca.caProject.ClientMaster"></class>  -->
<class name="ca.caProject.ClientStatus"></class>


</classes>
</test>
<!--<listeners>
	<listener class-name="utility.CustomizedReport" />
  </listeners>  -->

</suite>